


/* @media screen and (min-width:320px) and {
    
} */




@media (min-wight: 768px) {
    .boxMedia, .boxMedia1{
        
        background-color: coral;
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
        
        
    }
    
}